@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.header_ow {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  border-bottom: 1px solid #eaeaea;
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.signup_ow #name,
.signup_ow #password {
  margin: 0;
}

.signup_ow .form_ow:nth-of-type(2),
.signup_ow .form_ow:nth-of-type(3) {
  margin: 0 10px 0 0;
}

.signup_ow .form_ow label {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.signup_ow .form_ow #submit-button {
  padding: 10px 20px;
  display: block;
}

.header_ow .logo {
  width: 100px;
}

.header_ow .ownerWrapper a {
  display: block;
  margin: 0;
}

.header_ow .ownerWrapper {
  margin: 0;
}

.header_ow .login form {
  display: flex;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.header_ow .login {
  display: inherit;
  align-items: center;
  justify-content: initial;
  flex-direction: initial;
  margin-top: 0;
}

.sign-up {
  height: 100vh;
  background: #efefef;
}

.sign-up .ownerlogo {
  width: 200px;
}

.sign-up form {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
}

.signup_ow #name {
  height: 25px;
}

.formBox_ow {
  margin: 0 0 20px 0;
}

.sign-up h2 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.sign-up .logocenter {
  padding: 150px 0 0 0;
  text-align: center;
}

.buttonArea_ow {
  text-align: center;
}

.buttonArea_ow #submit-button {
  width: 200px;
  background: #dd904a;
  border: none;
}
.error-message {
  color: red;
}

@media only screen and (max-width:599px) {
  .formBox_ow {
    width: 95%;
    margin: 0 10px 10px;
  }
}