.searchbarWapper {
    margin: 0;
    background-color:#efefef;
    height: 100vh;
    padding: 0;
}

.searchbarWapper .logocenter {
    width: 200px;
    margin: 0 auto;
    padding: 150px 0 20px 0;
}

.logo {
    width: 200px;
}

.ownerlogo{
    width: 300px;
  }

  .css-b62m3t-container {
    width: 800px;
    margin: 0 auto;
  }