.searchbarWapper {
    margin: 0;
    padding: 0;
}

.searchbarWapper .logocenter {
    width: 200px;
    margin: 0 auto;
    padding: 150px 0 20px 0;
}

.logo {
    width: 200px;
}

.ownerlogo{
    width: 300px;
  }

  .css-b62m3t-container {
    width: 800px;
    margin: 0 auto;
    padding: 0 0 20px 0;
  }

@media only screen and (max-width:599px) {
    .css-b62m3t-container {
        width: 95%;
        margin: 0 10px;
    }
}